<!DOCTYPE html>
<html>
<body>

<form>
  <div>
    <h1>POC Project</h1>
    <p>Enter the details</p>
    
    <label for="productid"><b>Product ID</b></label> <br>
    <input type="number" placeholder="product ID" name="productid" id="productid" required><br> <br>

    <label for="prd"><b>Product Name</b></label> <br>
    <input type="text" placeholder="Product Name" name="prd" id="prd" required> 
    
  </div>
</form>
  <button class="registerbtn" (click)="onSave($event)">Submit</button>

</body>
</html>

